* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #6e6af6;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: #ccc;
}
